.colorBack {
    background-color: rgb(248, 240, 240);
    font-family: cursive;
    margin: 100px auto;
}

.colorframe {
    background-color: rgb(249, 244, 250);
    font-family: cursive;
}

h1{
    color: rgb(228, 35, 64);
    font-family: arial,sans-serif;
    font-size: 25px;
    font-weight: 100;
    line-height: 25px;
    margin: 0;
    padding: 0px;
    margin-bottom: 0;
    font-family: cursive;
}

ul{
    margin: 0px;
    padding: 0;
    font-family: cursive;
}

li{
    color: rgb(80, 49, 125);
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: arial,sans-serif;
    text-transform: capitalize;
    font-family: cursive;
}

.weather-app-wrapper{
    max-width: 600px;
    margin: 50px auto;
}

.weather-app{
    padding: 20px;
    border: 1px solid #dadde1;
    border-radius: 5px;
}

.space{
    margin-bottom: 20px;
}

.weather-temperature{
    margin-right: 10px;
}

strong{
    color: rgb(23, 44, 106);
    font-size: 50px;
    font-family: arial,sans-serif;
    clear: both;
    margin-left: 0;
    padding-top: 20px;
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;
    font-family: cursive;
}
.weather-temperature .active {
    color: #0A58D4;
    cursor: default;
}

.weather-temperature .active:hover {
    text-decoration: none;
}

.weather_forcast{
    margin-top: 20px;
    text-align: center;
    color: darkblue;
}

.weather-forcast-date{
    font-size: 16px;

    opacity: 0.5 ;
}


.wearher-forecast-temperature-min{
    font-size: 16px;
    opacity: 0.5;
}

.weather-forecast-temperatures{
    font-size: 15px;
}

.producer {
    text-align: center;
    margin: 20px;
}

.design {
    text-align: right;
}